# Общие игнорируемые файлы
*.log
*.tmp
*.swp
*.bak
*.orig
*.rej
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Игнорирование файлов и папок для Python проектов
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
*.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
.env
.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Игнорирование файлов и папок для Spring Boot проектов
target/
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
.idea/
*.class
*.project
*.classpath
.settings/
bin/
out/
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.mvn/
!**/src/main/**/application.properties
!**/src/main/**/application.yml

# Игнорирование IDE и редакторов
.vscode/
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
