html, body {
    height: 100%;
    margin: 0;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white_background {
    background-color: #e9ecef;
    color: #6c757d;
}